.itemBox{
    p{
        font-size: 16px;
    
    }
    .itemImg{
        border: 2px none white;
        img{
            width: 100%;
        }
    }
    .itemDetail{
        height:fit-content;
    }

}
