.form{
    color: #212529 ;
    box-shadow: 0.2rem 0.4rem 0.5rem rgba(37, 10, 10, 0.4);
    border-radius: 1rem;
    background-color: white;
    color: rgba(0, 0, 0, 0.9);
    margin: 10px;
    padding: 2rem;
}
.form-control:focus{
    box-shadow: 0 0 0 .25rem rgba(253, 109, 13, 0.25);
    border-color: orange;
}
.form-check-input:focus{
    box-shadow: 0 0 0 .25rem rgba(253, 109, 13, 0.25);
    border-color: orange;
}
.form-check-input:checked{
    background-color: orange;
    border-color: white;
}
.error{
    color: red;
    font-size: 13px;
}
p{
    padding:0px;
    margin:0px;
    font-size: 20px;
    color: #212529 ;
}